<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Lindsay K. Hohn
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>
  <body  ng-app="app" ng-controller="MainController as MC">

  <div class="container">

    <div class="row">
      <h1 class="nameHeader">LINDSAY K. HOHN</h1>
      <div class="arrowPicture">
        <img class="arrowPictureImage" src="Picture1.png" alt="arrow">
      </div>
    </div>


    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="navigation">
          <span id="autopagination_wrapper">

            <div class="link_link">
              <a ng-click="MC.scrollAbout()">
                about
              </a>
            </div>

            <div class="link_link">
              <a ng-click="MC.scrollProjects()">
                projects
              </a>
            </div>

            <div class="link_link">
              <a ng-click="MC.scrollResume()">
                resume
              </a>
            </div>
          </span>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>


  <div class="row" id="homePagePicture"></div>

  <div id="aboutScrollSection"></div>

  <div class="container">

    <div class="row" id="aboutSection">
      <p>
      Lindsay makes dynamic and responsive apps with beautiful design and a seamless user experience. She especially enjoys problem solving and never shies away from a challenge. Lindsay is passionate about web development because it marries both analytic and creative thought, perfect for her background in Biochemistry and her many Pinterest home projects. She is especially keen on creating applications that positively impact her community.
      <br>
      <br>
      Lindsay enjoys taking advantage of Colorado’s many amazing outdoor activities, including hiking, camping, skiing and horseback riding. When she isn’t coding, Lindsay is volunteering to promote women in technology as co-director of Women Who Code Fort Collins. On the weekends, she can be found at a local craft brewery enjoying a beer with family, friends and her yellow lab Banjo.
      </p>
    </div>


    <div class="row">
      <div class="arrowPicture" id="projectScrollSection">
        <img class="arrowPictureImage" src="Picture1.png" alt="arrow">
      </div>
    </div>

    <div class="row" id="projectSection">

      <div class='row'>

        <div class='col-md-1'></div>

        <div class="col-md-4" id="wrapper">
          <div class="thumbnail">
            <a href="http://www.fetch.social" target="_blank" class="thumbnail">
            <img src="icon.png" alt="fetch" id='fetchImage'>
            <!-- <span class="glyphicon glyphicon-new-window" style="background-color:rgb(185,215,204); color:#FEFEFE"></span> -->
          </a>
            <div class="caption">
              <p class="dreamStreamText">
                Fetch is an Android mobile app that allows users to connect and complete small tasks or deliver items. Available in the Google Play Store
                <br>
                <p>
                  Tech used: Ionic, Google Play Store deployment, Socket.io, AngularJS, Google Maps API
                </p>
              </p>
            </div>
          </div>
        </div>


        <div class='col-md-2'></div>

        <div class="col-md-4" id="wrapper">
          <div class="thumbnail">
            <a href="https://dreamstream.firebaseapp.com/#/tab/new" target="_blank" class="thumbnail">
            <img src="dreamstream.png" alt="dream stream">
            <!-- <span class="glyphicon glyphicon-new-window" style="background-color:rgb(185,215,204); color:#FEFEFE"></span> -->
          </a>
            <div class="caption">
              <p class="dreamStreamText">
                Mobile application to record users’ dreams, dream data analysis and personality insights using the IBM Watson API
                <br>
                <p>
                  Created as a group project with the Dream Team. My responsibilities included Express routes, authenication, Json web tokens, D3 scatter plot and Ionic deployment.
                </p>
                <p>
                  Tech used: Ionic, iOS deploy, AngularJS, Express, PostreSQL, Watson Personality Insights API
                </p>
              </p>
            </div>
          </div>
        </div>

      </div>



    <div class='row'>
      <div class='col-md-1'></div>

      <div class="col-md-4" id="wrapper">
        <div class="thumbnail">
          <a href="https://cold-run.firebaseapp.com/" target="_blank" class="thumbnail">
          <img src="coldRun.png" alt="cold run">
          <!-- <span class="glyphicon glyphicon-new-window" style="background-color:rgb(185,215,204); color:#FEFEFE"></span> -->
        </a>
          <div class="caption">
            <p class="coldRunSection">
              Single page application that allows users to determine what to wear on a run based on the weather
              <br>
              <p>
              Tech used: jQuery, Bootstrap, Google Geolocation API, Weather API
              </p>
            </p>
          </div>
        </div>
      </div>

      <div class='col-md-2'></div>


      <div class="col-md-4" id="wrapper">
        <div class="thumbnail">
          <a href="https://lkh-ketchup.herokuapp.com/" target="_blank" class="thumbnail">
          <img src="ketchup.png" alt="ketchup">
          <!-- <span class="glyphicon glyphicon-new-window" style="background-color:rgb(185,215,204); color:#FEFEFE"></span> -->
        </a>
          <div class="caption">
            <p class="ketchUpText">
            Tool for scheduling meetings at the nearest Starbucks based on the user’s geolocation
            <br>
            <p>
              Ketchup was a group project. I contributed by creating the appointment scheduling page, including the Google Maps API call and
              connection to the PostgreSQL database, calendar jQuery plugin, wireframes and styling.
            </p>
            <p>
            Tech used: JavaScript, jQuery, Node.js, Express, PostgreSQL, Heroku, Google Maps API
          </p>
            </p>
          </div>
        </div>
      </div>

    </div>
</div>




    <div class="row">
      <div class="arrowPicture">
        <img class="arrowPictureImage" src="Picture1.png" alt="arrow">
      </div>
    </div>

    <div id="resumeScrollSection"></div>

    <div class="row" id="resumeSection">
        <p>WOMEN WHO CODE</p>
        <p>Co-Director / 2015-present</p>
        <ul>
          <li>
            <p>501(c)3 dedicated to inspiring women to excel in technology careers</p>
          </li>
        </ul>
        <br>

        <p>GIRL DEVELOP IT</p>
        <p>Instructor / 2015-present</p>
        <ul>
          <li>
            <p>Two-day introductory course on HTML and CSS</p>
          </li>
        </ul>
        <br>

        <p>SOUTH CAROLINA RESEARCH AUTHORITY</p>
        <p>Senior Program Assistant / Columbia, SC & Fort Collins, CO / 2013 – 2015</p>
        <ul>
          <li>
            <p>Responsible for financial and business due diligence processes for over 20 early stage, start-up businesses, with over $3.5M in investments</p>
          </li>
        </ul>
        <br>
        <p>LEXINGTON MEDICAL CENTER</p>
        <p>Revenue Cycle Associate / Columbia, SC / 2013</p>
        <ul>
          <li>
            <p>Contributed to the billing and collection of over 500 million dollars in revenue</p>
          </li>
        </ul>
        <br>

        <p>VANDERBILT UNIVERSITY MEDICAL CENTER</p>
        <p>Research Assistant II / Nashville, TN / 2009 – 2012</p>
        <ul>
          <li>
            <p>Authored of 6 published articles in academic research journals and conference presentations</p>
          </li>
        </ul>
        <br>
    </div>


    <div class="row">
      <div class="arrowPicture">
        <img class="arrowPictureImage" src="Picture1.png" alt="arrow">
      </div>
    </div>


    <div class='row'>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <a id="userNav" href="https://github.com/lkhohn" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <a id="userNav" href="https://www.linkedin.com/in/lindsaykhohn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a id="userNav" href="mailto:lkhohn@gmail.com"><i class="fa fa-envelope-square fa-2x"></i></a>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div> <!--container -->


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src='app.js'></script>
    <script src='mainController.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
